footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
  .col-md-4.d-flex.align-items-center
    a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href='/')
      svg.bi(width='30' height='24')
        use(xlink:href='#bootstrap')
    span.text-muted &copy; 2021 EtherSagaDB <br/><br/> ALL ETHER SAGA ODYSSEY CONTENT IS PROPERTY OF PERFECT WORLD ENTERTAINMENT, INC.

