header.nav-header
    img(src="/favicon.ico", alt="").mx-auto.pt-3.d-block 
    div.d-flex.justify-content-center.py-3
        ul.nav.nav-pills
            li.nav-item
                a.nav-link(href='/' aria-current='page') Home
            //- li.nav-item
            //-     a.nav-link(href='/documentation') Docs
            li.nav-item
                a.nav-link(href='https://github.com/ethersagadb') Github
