div.sidebar.w-15.mt-5.p-3.mb-5
    ul.docs-nav 
        li.sidebarheader 
            a(href="/docs") Welcome
            ul.sidebarlinks  
                li 
                    a(href="/docs#discord") Discord
                li 
                    a(href="/docs#getting-started") Getting Started 
                li 
                    a(href="/docs#api-environments") API Envrionments
                li 
                    a(href="/docs#updating") Keeping Up To Date
                li 
                    a(href="/docs#api-access") API Access
        br
        li API 
        hr
        li.sidebarheader
            a(href="/docs/search") Search 
            ul.sidebarlinks 
                li
                    a(href="/docs/search#search") Search
                li 
                    a(href="/docs/search#filters") Filters
        br
        li.sidebarheader 
            a(href="/docs/game-data") Game Data 
            ul.sidebarlinks 
                li  
                    a(href="/docs/game-data#game-content") Game Content
                li  
                    a(href="/docs/game-data#lists") Lists 
                li
                    a(href="/docs/game-data#data") Data 
                li
                    a(href="/docs/game-data#servers") Servers 
