doctype html
html(lang="en")
    include ../includes/head.pug
    title Search - EtherSagaAPI
    body 
        include ../includes/nav.pug
        div.d-flex.justify-content-center
            include ../includes/sidebar.pug
            div.main-content.w-50.m-5
                h1.d-flex.justify-content-center Search
                br

                //- pre 
                //-     code This is a test of a codeblock
        include ../includes/footer.pug